body {
    min-height:100vh;
    
}
html{
    overflow-x: hidden;
}

header{
    line-height:1;
    width: 100%;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
    position:fixed;
    z-index:99;

}

.stock{
    padding-left:3px !important;
}

li{
    list-style: none;
}
.ul{
    padding-left:0px;
    list-style: none;
}

.blindly{
    color:white;
    font-size: 1.5em;
    list-style-type: none;
}


.side-number{
    line-height:1;
    font-weight:600;
    margin-left:auto;
    padding-left: 1rem;
    text-align:right;
}

.bordure{
    border:1px solid white;
}


#icon{
    margin-right:20px !important;
}

html{
    height:100%;
}

main{
    min-height:90vh;
    padding-top:5em;
}

.titre{
    text-align: center;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.boxe{
    border-radius:30px;
    min-height:70vh;
    padding-left:2em;
    
}


.logo{
    padding-left:10em;
}

.togglemenuleft{
    border:block 1;
}

.togglemenu{
    height:40px;
    margin-left:20px;
}



.togglemenuleft{
    border:block 1;
    border-color: black,
}

legend{
    margin:10px;
    font-size:1.0em;
    padding:0.7em;
}

.droite{
    margin-right:0;
    padding-right:0;
}
.togglemenu{
    height:40px;
    padding-left:10px;
}

.blindly{
    color:white;
    font-size: 1.5em;
}

.espacement{
    padding-top:3em;
}

.blanc{
    border:solid 2px white;
    margin:2em;
    margin-bottom:0em;
    max-width: 80px;
    min-height: 100px;
}

.start{
    margin-top:50px;
        padding-top: 20px;
        border:solid 2px white;
        padding:20px;
        margin-bottom:0em;  
        margin-left:20px;
        transition: ease-out 0.3s;
        font-size: 2rem;
        outline: none;
        min-width: 400px;
        border-radius: 7px;
}

.start:hover{
    -webkit-transform:scale(1.2); /* Safari et Chrome */
-moz-transform:scale(1.1); /* Firefox */
-ms-transform:scale(1.1); /* Internet Explorer 9 */
-o-transform:scale(1.1); /* Opera */
transform:scale(1.1);
    cursor: pointer;
}
.bleu{
    border:solid 3px #0d6efd;
    margin:2em;
    margin-bottom:0em;
    max-width: 80px;
    min-height: 100px;
}

.message{
    line-height:1;
    font-weight:600;
    margin-left:auto;
    padding-left: 1rem;
    padding:0;
    font-weight: 100;
}
.rouge{
    border:solid 3px #dc3545;
    margin:2em;
    margin-bottom:0em;
    max-width: 80px;
    min-height: 100px;

}


.boxy{
    min-width: 220px ;
    min-height: 200px;
    max-height: 200px;
    max-width: 200px;
    width: 60vh;
    height: 60vh;
    position:relative;
    border-radius:10px;
    margin-top:40px !important;
    margin-left:84px;
    margin-right:84px;
    filter: drop-shadow(0px 30px 10px rgba(4, 4, 4, 0.501)) !important;
}

.joueur{
    padding-top:1em;
    text-align:center;
}

.ligne1{
    padding-bottom:2em;
}

.mdj{
    border:solid 1px white;
    margin:2em;
    margin-bottom:0em;
    max-width: 80px;
    min-height: 100px;
}

.ligne{
    background-color: rgb(196, 196, 196);
    margin:1em;
    padding:0.2em;
    border-radius:5px;
    margin-left:auto;
}

.players{
    margin-left:10px;
}

.user{
    border:solid 1px white;
    margin:1em;
    padding:1.3em;
    margin-left:0;
}

.catégorie{
    padding-left:2em;
}

.chattext{
    border:solid 1px white;
    margin:2em;
    padding:10px;
}

.chat{
    padding-bottom:10em;
}

.ligne2{
    padding-top:50px;
}

.correction{
    padding-right:340px;
}

.text-correction{
    padding-left:40px;
    padding-right:0px !important;
    margin:none;
    height: 10px;;
}
.bouton{
    padding:0.8em;
    border-radius:10px;
    text-align:center;
    filter: drop-shadow(0px 30px 10px rgba(4, 4, 4, 0.501)) !important;
}
.cat{
    margin-left:1rem;
    line-height: 2;
    

}

.foot{
    padding-top:2rem;
    padding-bottom:2rem;
}

h5{
    margin-bottom:0;
}

.bordure-bottom{
    border-bottom:solid 2px white;
    padding-bottom: 6px;
    
}

.bordure-menu{
    border-bottom:solid 1px white;
    padding-bottom:10px;
    margin-bottom: 10px;

}


.espace{
    margin-right:20px;
    margin-left:200px  !important;
}

.liste{
    padding-left:14px;
    list-style: none;
}

h8{
    color:white;
    font-size:13px;
    margin-left:25px;
}
.Menu{
    position:absolute;
    min-width:22vh;
    border-radius:1em;
    padding-top:2em;
    margin-top:2em;
    margin-left:2em;
    
}

.cacher{
    margin-left:4em;
}

@keyframes slidebackground {

    from {
        background-image: url("../fond/8.png");
    }

    50% {
        background-image: url("../fond/1.png");
    }
   
    100% {
        background-image: url("../fond/8.png");
    }



}

@media screen and (max-width: 1200px){
    .boxy{
        margin-left: 70px;
        margin-top:30px !important;
    }
    .cat{
            margin-left:1rem;
            line-height: 2;
            min-width: 500px !important;
            
    }

}

@media screen and (max-width: 900px){
    .boxy{
        margin-left: 70px;
        margin-top:30px !important;
    }
    .cat{
            margin-left:1rem;
            line-height: 2;
            min-width: 500px !important;
            max-width: 300px !important;
            
    }
    html{
        overflow-x: hidden;
    }

}

@media screen and (max-width: 500px){
    
    .cat{
        min-width: 200px !important;
        max-width:430px !important;
    }

    .start{
        min-width: 300px;
        margin-left:30px !important;
        margin-bottom:30px;
        max-width:200px !important;
        margin-left:0;
    }

    .boxy{
        margin-top:40px !important;
    }

    body{
        min-width: 414px !important;
    }
    html{
        overflow-x: hidden;
    }
}

@media screen and (max-width: 420px){
    
    .cat{
        min-width: 200px;
        margin-left:42px;
    }

    .start{
        margin-left:30px !important;
        margin-bottom:30px;
    }

    .boxy{
        margin-top:40px !important;
    }

    body{
        min-width: 330px !important;
    }

    header{
        min-width: 330px !important;
    }
    html{
        overflow-x: hidden;
    }
}